<div *ngIf="rate" class="card">
    {{rate.id}}
    <div class="card__container">
        <div class="card__container__rates">
            <div class="card__container__rates__info">
                <span class="card__container__rates__info__name">{{rate.name}}</span>
            </div>
            <div class="card__container__rates__status">
                <span>
                    {{rate.price ?? '-'}} €
                </span>
            </div>

        </div>
        <div class="card__container__rate">
            <div class="card__container__rate__description">
                {{rate.description ?? '-'}}
            </div>
            <div class="card__container__rate__data">
                <span class="card__container__rate__data__coach pt-2">
                    <i class="bi bi-calendar-range"></i> {{rate.durationUnit === 'Month' ? 'Tarifa mensual' : 'Tarifa
                    día'}}
                </span>
                <span class="card__container__rate__data__date pt-2">
                    <i class="bi bi-arrow-counterclockwise"></i>
                    {{rate.duration ?? '-'}} {{rate.duration > 1 ? (rate.durationUnit === 'Month' ? 'Meses' : 'Días') :
                    (rate.durationUnit === 'Month' ? 'Mes' : 'Día')}}
                </span>
            </div>
        </div>
    </div>
    <div class="card__actions">
        <div data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-three-dots-vertical"></i>
        </div>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" [routerLink]="['/rates', rate.id, 'edit']">Editar Tarifa</a>
            </li>
            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteModal">Borrar tarifa</a></li>
        </ul>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Borrar tarifa</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que quieres borrar la tarifa {{rate?.name ?? '-'}}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="onDeleteRate(rate?.id || 0)">Borrar tarifa</button>
            </div>
        </div>
    </div>
</div>