<div *ngIf="clientData" class="card">
    <div class="card__container">
        <div class="card__container__client">
            <div class="card__container__client__info">
                <span class="card__container__client__info__name">{{clientData.client.name}}
                    {{clientData.client.firstLastName}}
                    {{clientData.client.secondLastName}}</span>
            </div>
            <div class="card__container__client__status">
                <span [ngClass]="{'pending-payments': clientData.pendingPayments}">
                    {{clientData.pendingPayments ? 'Pagos pend.' : ''}}
                </span>
            </div>

        </div>
        <div class="card__container__rate">
            <span class="card__container__rate__title" [ngClass]="{'no-rate': !clientData?.rate?.name}">
                {{clientData.rate?.name ?? 'Sin tarifa asignada'}}
            </span>
            <div class="card__container__rate__data">
                <span *ngIf="clientData.client.trainer; else emptyTrainer"
                    class="card__container__rate__data__coach pt-2">
                    <i class="bi bi-person-fill"></i> {{clientData.client.trainer.alias}}
                </span>
                <span class="card__container__rate__data__date pt-2" *ngIf="clientData.endDate">
                    <i class="bi bi-calendar-x"></i> {{clientData.endDate | date: 'dd/MM/yyyy'}}
                </span>
            </div>
        </div>
    </div>
    <div class="card__actions dropstart">
        <div data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-three-dots-vertical"></i>
        </div>
        <ul class="dropdown-menu ">
            <li><a class="dropdown-item" [routerLink]="['/clients', clientData.client.id]">Info Cliente</a></li>
            <li><a class="dropdown-item" [routerLink]="['/clients',  'edit', clientData.client.id]">Editar Cliente</a>
            </li>
            <li><a class="dropdown-item" (click)="openAddingRateModal(clientData.client.id)">Asignar
                    tarifa</a></li>

            <li><a class="dropdown-item" (click)="openPaymentRateModal(clientData)">Pagar tarifa</a></li>
            <li><a class="dropdown-item" [routerLink]="['/clients','historic', clientData.client.id]">Histórico
                    tarifas</a></li>
            <li><a class="dropdown-item" (click)="openDeleteModal(clientData.client)">Borrar cliente</a></li>
        </ul>
    </div>

    <ng-template #emptyTrainer>
        <span class="card__container__rate__data__coach__empty pt-2">
            <i class="bi bi-person-fill"></i> No asignado</span>
    </ng-template>

    <div *ngIf="alertMessage" class="alert alert-{{ alertType }}" role="alert"
        style="width: 90%; position: fixed; top: 30px; left: 50%; transform: translateX(-50%); z-index: 9999;">
        {{ alertMessage }}
    </div>