<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MIB Team</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="home">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="clients" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Clientes
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="clients/create">Crear cliente</a></li>
                        <li><a class="dropdown-item" href="clients">Ver clientes</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="rates" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Tarifas
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="rates/create">Crear tarifa</a></li>
                        <li><a class="dropdown-item" href="rates">Ver tarifas</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>