<div class="p-2 pb-0" style="color: rgb(118, 118, 118); cursor: pointer;" (click)="goBack()">
    <span><i class="bi bi-arrow-left-circle"></i><strong> Volver</strong></span>
</div>
<div class="historical-rates">
    <h1 class="historical-rates__title">Histórico de tarifas</h1>
    <div class="historical-rates__cards " *ngIf="historicRates$ | async as historicalRates">
        <div class="mx-3 mb-3"><strong>Cliente:</strong> {{historicalRates.data.client.name}}
            {{historicalRates.data.client.firstLastName}}
            {{historicalRates.data.client.secondLastName}}</div>
        <div *ngIf="historicalRates.data.historic.length; else notFound">
            <app-historical-rate-card *ngFor="let rate of historicalRates?.data?.historic" [clientId]="clientId ?? 0"
                [rate]="rate" (payRate)="onPayClientRate($event)"></app-historical-rate-card>
        </div>
    </div>
</div>

<ng-template #notFound>
    <img src="../../../assets/img/empty-rates.jpg" alt="Logo" class="mx-auto d-block img-fluid"
        style="max-height: 500px;">
    <span class="text-center" style="font-size: 1rem; color: gray; align-self: center;">Este cliente no tiene tarifas
        asignadas</span>
</ng-template>