<app-header *ngIf="!isLoginPage()"></app-header>
<main>
  <router-outlet></router-outlet>
</main>
<alert *ngIf="alertSubject$ | async as alertData" [type]="alertData.type" [dismissible]="true" [dismissOnTimeout]="3000"
  style="width: 90%; position: fixed; top: 30px; left: 50%; transform: translateX(-50%); z-index: 9999;">
  {{ alertData.message}}
</alert>
<div
  class="d-flex align-items-center justify-content-center position-fixed top-0 start-0 end-0 bottom-0 bg-dark bg-opacity-50"
  *ngIf="isLoading$ | async">
  <div class="spinner-border" aria-hidden="true"></div>
</div>