<app-header *ngIf="!isLoginPage()"></app-header>
<main>
  <router-outlet></router-outlet>
</main>
<footer class="footer d-lg-none">
  <a href="home"><i class="bi bi-house"></i> <span>Inicio</span></a>
  <a href="clients/create"><i class="bi bi-person-plus"></i><span>Crear cliente</span></a>
  <a href="clients"><i class="bi bi-person-lines-fill"></i><span>Clientes</span></a>
  <a href="rates/create"><i class="bi bi-plus-circle"></i><span>Crear tarifa</span></a>
  <a href="rates"><i class="bi bi-eye"></i><span> Tarifas</span></a>
</footer>
<alert *ngIf="alertSubject$ | async as alertData" [type]="alertData.type" [dismissible]="true" [dismissOnTimeout]="3000"
  style="width: 90%; position: fixed; top: 30px; left: 50%; transform: translateX(-50%); z-index: 9999;">
  {{ alertData.message}}
</alert>

<div
  class="d-flex align-items-center justify-content-center position-fixed top-0 start-0 end-0 bottom-0 bg-dark bg-opacity-50"
  *ngIf="isLoading$ | async">
  <div class="spinner-border" aria-hidden="true"></div>
</div>