.dashboard {
  height: 92vh;
  padding: 16px;
  padding-bottom: 32px;
  overflow: auto;

  &__total-clients {
    display: flex;
  }

  @media (min-height: 701px) and (max-height: 1000px) {
    height: 88vh;
  }

  @media (max-height: 700px) {
    height: 85vh;
  }
}

.empty-rates {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: #e2e2e280;
  color: #5442ff;
  border-radius: 10px;
}


.unpaid-client {
  background-color: #f8d7da80;
  color: #721c24;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 8px;
  align-items: center;
  border-radius: 10px;

  &__data {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  button {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 8px;
    max-height: 40px;
  }
}


.expired-client {
  background-color: #ffffc480;
  color: #d4aa00;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 8px;
  align-items: center;
  border-radius: 10px;

  &__data {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  button {
    border: none;
    color: white;
    padding: 8px;
    max-height: 40px;
  }
}
