<div class="dashboard">
    <h3>Total de clientes</h3>
    <div class="progress-stacked" style="width: 100%; height: 30px;">
        <div class="progress" style="height: 30px;" role="progressbar" aria-label="Segment one"
            [attr.aria-valuenow]="percentageActiveClients" aria-valuemin="0" aria-valuemax="100"
            [style.width.%]="percentageActiveClients">
            <div class="progress-bar bg-success" style="height: 30px; font-size: 16px;">Activos:
                {{totalActiveClients}}</div>
        </div>
        <div class="progress" style="height: 30px;" role="progressbar" aria-label="Segment two"
            [attr.aria-valuenow]="percentageTotalClients" aria-valuemin="0" aria-valuemax="100"
            [style.width.%]="percentageTotalClients">
            <div class="progress-bar" style="height: 30px; font-size: 16px;">Totales: {{totalClients}}</div>
        </div>
    </div>

    <h3 class="pt-2">Clientes por entrenador</h3>
    <ng-container *ngIf="trainers.length > 0">
        <div *ngFor="let trainer of trainers; let i = index" class="progress mt-2" role="progressbar"
            aria-label="Default striped example" [attr.aria-valuenow]="trainer.clientsWithRate" aria-valuemin="0"
            [attr.aria-valuemax]="totalActiveClients">
            <div class="progress-bar progress-bar-striped" [ngClass]="{
                    'bg-success': i % 5 === 0,
                    'bg-warning': i % 5 === 1,
                    'bg-danger': i % 5 === 2,
                    'bg-info': i % 5 === 3,
                    '': i % 5 === 4
                }" [style.width.%]="trainer.percentageOfTotalClients">
                {{trainer.alias}}: {{trainer.clientsWithRate}}
            </div>
        </div>
    </ng-container>
    <h3 class="pt-2">Finalizan en 14 días</h3>
    <div *ngIf="clientsAboutToExpire$ | async as data" style="padding-top:4px; max-height: 35vh; overflow: auto;">
        <div *ngFor="let client of data.data" class="expired-client">
            <div class="expired-client__data">
                <strong>{{client.client.name}} {{client.client.firstLastName}} {{client.client.secondLastName}}</strong>
                <span *ngIf="client.rate">{{client.rate.name}} ({{client.rate.price}}€)</span>
                <span *ngIf="client.endDate">
                    <i class="bi bi-calendar-x"></i> {{client.endDate |date:'dd MMM. yyyy'}}
                    <strong>({{getDaysLeft(client.endDate)}} días)</strong>
                </span>
            </div>
            <button class="btn btn-warning">Ver cliente</button>
        </div>
    </div>
    <h3 class="pt-2">Clientes con inpagos</h3>
    <div *ngIf="unpaidClients$ | async as unpaidClient"
        style="padding-top:4px; padding-bottom: 50px; max-height: 35vh; overflow: auto;">
        <div *ngFor="let client of unpaidClient.data" class="unpaid-client">
            <div class="unpaid-client__data">
                <strong>{{client.client.name}} {{client.client.firstLastName}} {{client.client.secondLastName}}</strong>
                <span *ngIf="client.rate">{{client.rate.name}} ({{client.rate.price}}€)</span>
            </div>
            <button class="btn btn-primary">Ver cliente</button>
        </div>
    </div>
</div>