/* You can add global styles to this file, and also import other style files */

html,
body {

  min-height: calc(100% + env(safe-area-inset-top));
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  background-color: white !important;
  font-family: 'Roboto', sans-serif;



  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

label.asterisk:after {
  content: "*";
  color: red;
}
